/* CSS Document */

/*PAGE LAYOUT*/
td:hover{
    background-color: #CCC;
    transition: 0.2s;
}
body {
    background-image: url(images/bg_body.jpg);
    background-repeat: repeat-x;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#toppage{
    width:800px;
}
#date{
    float:left; width:190px; height:39px; border-bottom:solid 1px #999; border-right:solid 1px #999;
}
#topbar{
    float:left; 
    width:608px; 
    height:40px; 
    background-image:url(bg_topbar.gif); 
    background-color:#CBC55C;
    background-repeat:repeat-x;
    border-right:solid 1px #999;
}
#header{
    width:800px;
}
#content{
    width:800px;
}
#contenttext{
    float:left; width:608px; 
    background-color:#F7F7F7; 
    border-left:solid 1px #999; border-right:solid 1px #999; 
    border-bottom:solid 1px #999; border-top:dotted 1px #CCC; 
    min-height:360px;
}
#logo{
    float:left; width:220px; height:110px; background-color:#F7F7F7; border-left:solid 1px #999999;
}
#pagetitle{
    position:relative; float:left; width:578px; height:110px; background-color:#F7F7F7; border-right:solid 1px #999999;
}
#title{
    position:absolute; right:10px; bottom:0px; width:600px;
}
#menu{
    float:left; width:190px; margin:0px;
}
#footer{
    width:590px; padding-right:10px; padding-left:200px;
}

/*GRAY PANEL*/
.panel{
    padding:12px;
    border:solid 1px #E4E4E4;
    background-color:#EEE;
    margin:10px;
    padding:10px;
    width:550px;
    height:200px;
}

/*TEXT STYLES*/
.bodytext {
    font: 0.7em Tahoma, sans-serif;
    font-size: 12px;
    color: #666;
}
.smalltext {
    font: 0.7em Tahoma, sans-serif;
    font-size: 11px;
    color: #666;
}
.smallwhitetext {
    font: 0.7em Tahoma, sans-serif;
    font-size: 11px;
    font-weight:bold;
    color: #FFF;
}
.smallwhitetext a{
    font: 0.7em Tahoma, sans-serif;
    font-size: 13px;
    font-weight:bold;
    color: #FFF;
    text-decoration:none;
}
.smallwhitetext a:hover{
    text-decoration:underline;
}
.smallgraytext {
    font: 0.7em Tahoma, sans-serif;
    font-size: 13px;
    font-weight:bold;
    color:#828282;
}
.smallgraytext a{
    font: 0.7em Tahoma, sans-serif;
    font-size: 13px;
    font-weight:bold;
    color:#828282;
    text-decoration:none;
}
.smallgraytext a:hover{
    text-decoration:underline;
}
.titletext {
    font: 0.7em Tahoma, sans-serif;
    font-size:36px;
    font-weight:bold;
    color: #666;
}
.titletext a{    
    text-decoration: none;
}
.logotext {
    font: 0.7em Tahoma, sans-serif;
    font-size:36px;
    font-weight:bold;
    color: #556B2F;
}
.orangetitle {
    font: 0.7em Tahoma, sans-serif;
    font-size:24px;
    font-weight:bold;
    color:#EE0000;
}
#linksmenu a{
    float:right; 
    width:183px; 
    height:20px; 
    background-color:#ABC578; border-left:solid 1px #FFF; border-bottom:solid 1px #FFF;
    font: 0.7em Tahoma, sans-serif;
    font-size: 13px;
    font-weight:bold;
    color: #FFF;
    text-decoration:none;
    padding-top:5px;
}
#linksmenu a:hover{
    background-color:#514F1C;
    transition: 0.2s;
}
#links_menu a{
    font: 0.7em Tahoma, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color: #000;
    text-decoration:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
}
#links_menu a:hover{
    color:#EE0000;
}
